<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Course</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <style>
        body {
          padding-top: 80px;
          padding-left: 750px;
        }
      </style>
</head>
  <body>
    <div class="floating">
    <div class="col-md-7 text-center">
      <div class="layer">
        <form class="form-horizontal"  align="center" >
          <div class="form-group">
            <h3 align="center"> Add Notes </h3>
            <div align="center">
                <input type="text" class="form-control" id="number" placeholder="Course Number" name="num" [(ngModel)]="courseNumber" style="width:300px;" required>
                <input type="text" class="form-control" id="conum" name="conum" [(ngModel)]="model.date_for" placeholder="Date of Class" style="width:300px;" required>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.date_uploaded" placeholder="Upload Date" style="width:300px;" required>
                <label for="file">File:</label><input type="file" (change)="upload($event)" accept=".png,.jpg,.pdf,.docx,.doc" />
              <hr>
              <button type="button" class="btn btn-block" (click)="saveNote()" style="width:300px; background-color:#98FB98">
                      Submit
              </button>
            </div>
          </div>
        </form>
  </div>
</div>
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showInputAlert">
  Success!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</body>
<router-outlet></router-outlet>
</html>
