
.layer{
  border-radius: 4px;
  position:relative;

  }

.form-group{
  border-color: black;
  border-radius: 4px;

}
  .text{
    color:#E8E8E8;
    font-style: bold, 'Montserrat', sans-serif ;
  }
.float-center{
  float: right;
  left: -50%;
  text-align: left;
}
.ortext{
  color:#E8E8E8;
  font-style: bold, 'Montserrat', sans-serif, 30px  ;
}
body{
  background-color: white;
}
